* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 40px 20px;
    height: 100%;
}

.left-header {
    display: flex;
    align-items: center;
}

.right-header {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-txt {
    font-size: 14px;
    font-weight: 500;

}

#sleep-img {
    height: auto;
    width: 30px;
}

.container-body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1640px;
    padding-left: 100px;
    padding-right: 100px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.container-content-left {
    width: 50%;
}

.main-txt {
    font-size: 80px;
}

.sub-txt {
    font-size: 26px;
    margin-top: 100px;
}
#img1 {
    height: auto;
    width: 500px;
}

.container-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.reason-head-txt {
    font-size: 48px;
    margin-bottom: 10px;
}

.reason-sub-txt {
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: -.01em;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    padding: 40px 0;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
  }

  .marquee {
    display: flex;
    gap: 100px; /* space between image groups */
    animation: scroll-left 120s linear infinite;
    align-items: center;
  }

  .marquee img {
    height: 60px;
  }

  @keyframes scroll-left {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  #icon {
    height: auto;
    width: 100px;
  }

  .wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .action-main-txt {
    font-size: 55px;
    line-height: 1.0;
  }

  .action-row-2 {
    display: flex;
    justify-content: space-between;
  }

  .video {
    display: flex;
    justify-content: flex-end;
    border-radius: 0 24px 24px 0;

  }

  #video {
    height: auto;
    width: 50%;
  }

  .video-container {
    display: flex;
    justify-content: flex-end;
  }